### Nominal / One Hot Encoding (OHE)

In [5]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [7]:
df = pd.DataFrame({
    'color':['red', 'blue', 'yellow', 'blue', 'green', 'red', 'yellow']
})

In [15]:
encoder = OneHotEncoder()
encoded_val = encoder.fit_transform(df).toarray()

In [17]:
encoded_val

array([[0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [27]:
encoder_df = pd.DataFrame(encoded_val, columns=encoder.get_feature_names_out(), index=df['color'])

In [29]:
encoder_df

        color_blue  color_green  color_red  color_yellow
color
red            0.0          0.0        1.0           0.0
blue           1.0          0.0        0.0           0.0
yellow         0.0          0.0        0.0           1.0
blue           1.0          0.0        0.0           0.0
green          0.0          1.0        0.0           0.0
red            0.0          0.0        1.0           0.0
yellow         0.0          0.0        0.0           1.0

### Label Encoding

In [39]:
from sklearn.preprocessing import LabelEncoder
l_encoder = LabelEncoder()
l_encoded_val = l_encoder.fit_transform(df[['color']])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [41]:
l_encoded_val

array([2, 0, 3, 0, 1, 2, 3])

In [51]:
df[['color']].to_numpy()

array([['red'],
       ['blue'],
       ['yellow'],
       ['blue'],
       ['green'],
       ['red'],
       ['yellow']], dtype=object)

### Ordinal Encoding

In [54]:
from sklearn.preprocessing import OrdinalEncoder
size_df = pd.DataFrame({
    'size': ['small', 'Large', 'Medium', 'Large', 'Extra Large', 'Medium']
})

In [56]:
size_df

          size
0        small
1        Large
2       Medium
3        Large
4  Extra Large
5       Medium

In [106]:
encoder = OrdinalEncoder(categories= [['small', 'Medium', 'Large', 'Extra Large']])
size_encoded_val = encoder.fit_transform(size_df)

In [108]:
size_encoded_val

array([[0.],
       [2.],
       [1.],
       [2.],
       [3.],
       [1.]])